<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="uri" value="http://localhost:8080"/>
    <add key="connection" value="Data Source=.\FEDCONNECT;Initial Catalog=Employees;"/>
    <!-- DbFlavor currently supports "Access", "Sql", "MySql" -->
    <add key="DbFlavor" value="MySql"/>
    <add key="SqlConnection" value="server=.\FEDCONNECT;database=Employees;Trusted_Connection=True"/>
    <add key="MySqlConnection" value="server=52.73.52.91;uid=shamrocks;pwd=password;database=fc5;"/>
    <!--<add key="AccessConnection" value="Dsn=MS Access Database;dbq=C:\Brandeis\BNCConejo_Data.accdb;defaultdir=C:\Brandeis;driverid=25;fil=MS Access;maxbuffersize=2048;pagetimeout=5;uid=admin"/>-->
    <add key="AccessConnection" value="Provider=Microsoft.ACE.OLEDB.16.0;Data Source=C:\Brandeis\BNCConejo_Data.accdb;Persist Security Info=False;"/>
  </appSettings>
</configuration>